<% content_for :title, "Edit Your Account" %>
<% content_for :meta_description, "Edit your account at WishThis, the universal wishlist." %>
<%= render 'form' %>

<div class="change-password">
  <%= link_to "Change Your Password", change_password_path %>
</div>