<% content_for :title, "Register for a New Account" %>
<% content_for :meta_description, "Create a new account at WishThis, the universal wishlist." %>
<div class="sign-up-form grid_4 push_4">
  <%= render 'form' %>
</div>